@page "/Info"

    <style>
        body, html {
            background-image: url(https://p4.wallpaperbetter.com/wallpaper/197/340/928/mac-os-x-os-x-big-sur-hd-wallpaper-preview.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .center {
            margin-top: 13%;
            text-align: center;
            backdrop-filter: blur(8px)
        }
    </style>



    <body>
        <div class="container align-content-md-end" style="backdrop-filter: blur(8px);">
            <h1 style="text-align:center; font-family:'Century Gothic'; color:gold"><b>Programadores</b></h1>
            <br /><br />

            <div class="form-control-file justif-content-center">
                <h6 class="center">
                    <a href="https://github.com/YensiDLuna" target="_blank">
                        <img src="https://avatars.githubusercontent.com/u/55031989?v=4" class="oi-image" width="150" height="150" />
                        <br /><br /><b>Yensi Manuel De Luna</b>
                    </a>
                </h6>

                <h6 class="center">
                    <a href="https://github.com/Casjer" target="_blank">
                        <img src="https://avatars.githubusercontent.com/u/42251626?v=4" class="oi-image" width="150" height="150"  />
                        <br /><br /><b>Rood Jery Pierre</b>
                    </a>
                </h6>

                <h6 class="center">
                    <a href="https://github.com/Jhinzo" target="_blank">
                        <img src="https://avatars.githubusercontent.com/u/59878909?v=4" class="oi-image" width="150" height="150" />
                        <br /><br /><b>Bleimy de Jesus</b>
                    </a>
                </h6>

                <h6 class="center"
                    <a href="https://github.com/AnaMarBlanco" target="_blank">
                        <img src="https://avatars.githubusercontent.com/u/65440271?v=4" class="oi-image" width="150" height="150" />
                        <br /><br /><b>Ana Marcielis Martinez </b>
                    </a>
                </h6>
            </div>

        </div>
    </body>