@page "/Info"

<body>
    <div class="container vertical-center" style="backdrop-filter: blur(8px);">
        <h1 style="text-align:center; font-family:'Century Gothic'; color:royalblue"><b>Programadores</b></h1>
        <br /><br />

        <div class="form-inline justify-content-center">
            <h6 class="center">
                <a href="https://github.com/YensiDLuna" target="_blank">
                    <img src="fotocris.png" class="oi-image" width="150" height="150" />
                    <br /><br /><b>Yensi De Luna</b>
                </a>
            </h6>

            <h6 class="center">
                <a href="https://github.com/Casjer" target="_blank">
                    <img src="fotohude.png" class="oi-image" width="150" height="150" />
                    <br /><br /><b>Rood jery Pierre</b>
                </a>
            </h6>

            <h6 class="center">
                <a href="https://github.com/Jhinzo" target="_blank">
                    <img src="alfre.png" class="oi-image" width="150" height="150" />
                    <br /><br /><b>ABleimy de jesus</b>
                </a>
            </h6>

            <h6 class="center">
                <a href="https://github.com/Jhinzo" target="_blank">
                    <img src="alfre.png" class="oi-image" width="150" height="150" />
                    <br /><br /><b>Ana </b>
                </a>
            </h6>
        </div>

    </div>
</body>